/*************** ALL PAGES ***************/

body {
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
}

section {
    padding: 50px 0;
    background-color: rgb(25, 25, 25);
    color: white;
}

.contents {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

/*************** HERO SECTION (ALL PAGES) ***************/

.hero {
    height: 88vh;
    background-image: linear-gradient(rgba(14, 0, 47, 0.8), rgba(14,0,47,0.5)), url("./assets/hero-background.jpg");
    background-size: cover;
    background-position: center;
    align-content: center;
    color: white;
}

.hero-contents {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-contents ul {
    font-size: 1.2em;
}

/*************** FONT STYLES ***************/

h1 {
    margin: 0;
    font-size: 5em;
}

h2 {
    margin: 0;
    font-size: 2.5em;
}

h3 {
    margin: 0;
}

p {
    margin-top: 0;
    color: #A5A5A5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    color: #A5A5A5;
}

a {
    margin: 0;
    color: #BB86FC;
}

.header {
    margin: 0;
    text-transform: uppercase;
    color: white;
}

.subheader {
    color: #A5A5A5;
}

/*************** NAVIGATION BAR ***************/

.top-nav {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: #BB86FC;
}

.nav-bar {
    margin-right: 50px;
    display: flex;
    border-radius: 3rem;
    background: #F4F2F0;
}

.nav-bar a {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3rem;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: transform 2s ease;
}

.nav-bar a:hover {
    background: #BB86FC;
    color: white;
}

.nav-bar a.selected {
    background: #BB86FC;
    color: white;
}

.nav-bar:hover a.selected:not(:hover) {
    background: transparent;
    color: black;
}

/*************** PROJECT GRID ***************/

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
    overflow: visible;
}

.card-img {
    width: 100%;
    height: 85%;
    margin-top: 20px;
    display: block;            
    object-fit: cover;
    border-radius: 10px;
    transition: scale 0.25s ease;
}

.card-img:hover {
    scale: 1.01;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-grid a {
    text-decoration: none;
    color: black;
}

/*************** ABOUT ME ***************/

#about .two-cols {
    display: flex;
    flex-direction: row;
    gap: 50px
}

/*************** PROJECT PAGES ***************/

.project-table {
    text-align: left;
}

.cover-img {
    width: 100%;
    height: 94vh;
    object-fit: cover;
    margin: 40px 0px;
    border-radius: 10px;
}

img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.two-cols {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.first {
    width: 20%;
}

.second {
    width: 80%;
}

@media screen and (max-width: 1240px) {
    .two-cols {
        flex-direction: column;
    }
    .first {
        width: 100%;
    }
    .second {
        width: 100%;
    }
}